.container-full-top {
    padding: 210px 0 0 0;
    display: flex;
    width: 77%;
}

.container-full-bot {
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

/* ------------------------------------ */

/* ------------------------------------ */
.container-aboutme {
    margin: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 140px;
}

.description-aboutme {
    color: var(--parraf-color);
    width: 80%;
}

.container-title-abaoutme {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
}

.title-changewords {
    display: flex;
    gap: 12px;
}

.container-buttons-aboutme {
    height: 60px;
    width: 40%;
    padding: 8px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.container-img-aboutme {
    display: flex;
}

/* ------------------------------------ */



/* ------------------------------------ */
/* Container Services Quality */
.services-quality {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title-sevices {
    text-align: left;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 100px;
}

.services img {
    transition: transform 0.3s ease;
}

.services img:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 var(--bgIcons-services);
    border-radius: 16px;
}


/*  End Container Services Quality */
/* ------------------------------------ */

@media only screen and (min-width: 1150px) and (max-width:1800px) {
    .container-title-abaoutme {
        width: 77%;
    }

    .container-full-top {
        justify-content: space-evenly;
    }

    .container-buttons-aboutme {
        width: 50%;
    }

    .services {
        justify-content: space-around;
    }

    .service {
        /* padding: 20px; */
        text-align: center;
    }

    .container-body {
        width: 90%;

    }

    .container-full-bot {
        width: 77%;
    }
}

@media only screen and (min-width: 1150px) and (max-width:1550px) {
    .container-img-aboutme {
        display: none;
    }

    .container-full-top {
        padding: 200px 0 0 0;
        width: 100%;
        display: flex;
    }

    .container-buttons-aboutme {
        width: 45%;
    }
}

@media only screen and (min-width: 900px) and (max-width:1150px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .container-full-top {
        padding: 30px 0 0 0;
        flex-direction: column-reverse;
        gap: 32px;
    }

    .container-img-aboutme {
        display: flex;
        justify-content: center;
    }

    .container-buttons-aboutme {
        width: 60%;
    }

    .container-title-abaoutme {
        align-items: center;
    }

    .tittle-aboutme {
        text-align: center;
        width: 90%
    }

    .services-quality {
        align-items: center;
    }

    /* .title-changewords {
        width: 95%;
        margin-left: 34px;
    } */
}

@media only screen and (min-width: 600px) and (max-width:900px) {
    .container-full-bot {
        width: 80%;
    }

    .services {
        gap: 16px;
    }

    .services .service {
        width: 47%;
    }

    .services img:hover {
        border-radius: 12px;
    }

}

@media only screen and (max-width: 900px) {
    .container-full-top {
        flex-direction: column-reverse;
    }

    .container-img-aboutme img {
        width: 35%;
        border-radius: 8px;
    }

    .container-buttons-aboutme {
        width: 100%;
    }

    .services {
        justify-content: center;
    }

    .title-changewords {
        flex-direction: column;
    }

    .container-full-top {
        gap: 40px;
    }

    .container-title-abaoutme {
        gap: 16px;
    }

    .myIMG {
        width: 35%;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 900px) {
    .container-full-top {
        padding: 40px 0 0 0;
    }
}

@media only screen and (max-width: 700px) {
    .container-img-aboutme {
        display: none;
    }


}