.container-full-top {
    display: flex;
    width: 77%;
}

.container-full-bot {
    width: 77%;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

/* ------------------------------------ */

/* ------------------------------------ */
.container-aboutme {
    margin: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 140px;
}

.description-aboutme {
    width: 80%;
}

.container-title-abaoutme {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
}

.title-changewords {
    display: flex;
    gap: 12px;
}

.container-buttons-aboutme {
    height: 60px;
    width: 40%;
    padding: 8px;
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: space-around;
}

.container-img-aboutme {
    display: flex;
}

/* ------------------------------------ */



/* ------------------------------------ */
/* Container Services Quality */
.services-quality {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 100px;
}

.services img {
    transition: transform 0.3s ease;
    /* Ajusta la duración y el tipo de transición según tus necesidades */
}

.services img:hover {
    transform: translateY(-5px);
    /* Ajusta la cantidad de desplazamiento hacia arriba según tus necesidades */
    box-shadow: 0 5px 0 0 var(--bgIcons-services);
    border-radius: 16px;
}

/* .service {
    width: 300px;
} */

/*  End Container Services Quality */
/* ------------------------------------ */

@media only screen and (min-width: 1150px) and (max-width:1800px) {
    .container-title-abaoutme {
        width: 77%;
    }

    .container-full-top {
        justify-content: space-evenly;
    }

    .container-buttons-aboutme {
        width: 50%;
    }

    .services {
        justify-content: space-around;
    }

    .service {
        /* padding: 20px; */
        text-align: center;
    }

    .container-body {
        width: 90%;

    }

    .container-full-bot {
        width: 77%;
    }
}

@media only screen and (min-width: 1150px) and (max-width:1550px) {
    .container-img-aboutme {
        display: none;
    }

    .container-full-top {
        width: 100%;
        display: flex;
    }

    .container-buttons-aboutme {
        width: 45%;
    }
}

@media only screen and (min-width: 850px) and (max-width:1150px) {
    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .container-img-aboutme {
        display: none;
    }

    .container-buttons-aboutme {
        width: 60%;
    }

}