/* container */
.full-container-body{
    width: 100%;
    height: 100%;
    margin-top: 88px;
    margin-bottom: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 54px;
}

.container-body{
    width: 100%; /* Cambiamos width: 77%; a width: 100%; */
    min-width: 770px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
/* end container body */

@media only screen and (min-width: 850px) and (max-width:1150px) {
    .full-container-body{
        margin-left: 45px;
    }
    
}