.button {
  width: 50%;
  height: 50px;
  background-color: var(--change-word-hover);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 4px;
  color: var(--color-anchor);
  position: relative;
  z-index: 1;
}

.button:hover {
    color: var(--white);
    background-color: var(--bgHeader-footer);
    border: 1px solid var(--change-word-hover);
    font-weight: bold;
}