/* strat of contact me */
.container-contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    padding: 16px;
    gap: 70px;
}

.contactme{
    width: 77%;
    display: flex;
    flex-direction: column;
}

.form-contactme{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.name-container{
    display: flex;
    flex-direction: column;
}

.email-container{
    display: flex;
    flex-direction: column;
}

.name-email-container{
    display: flex;
    gap: 16px;
}

.message-container{
    display: flex;
    flex-direction: column;
}

.form-container{
    width: 77%;
    display: flex;
    justify-content: center;
}

.send-message-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-send-message{
    width: 50%;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 0px 24px;
    color: var(--parraf-color);
    position: relative;
    z-index: 1;
    cursor: pointer;
}


.button-send-message:hover{
    background-color: var(--change-word-hover);
    color: var(--bgHeader-footer);
    font-weight: bold;
}
/* end of contact me */

