/* container proyect */
.container-experiences {
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title-experience {
    width: 74%;
    padding: 32px 0 0 0;
}

.experiences {
    width: 73%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.experience {
    border: 1px solid var(--border-color);
    display: flex;
    padding: 24px;
    border-radius: 12px;
}

.text-experience {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.description-experience {
    width: 90%;
    color: var(--parraf-color);
}

.proyects .experience {
    transition: transform 0.3s ease;
}


.experience {
    transition: transform 0.3s ease;
}

.experience:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 var(--hover-experience-proyect);
    border-radius: 12px;
}

.experience:hover .img-experience img {
    transform: translateY(-5px);
    box-shadow: 0 5px 0 0 var(--hover-experience-proyect);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.img-experience {
    display: flex;
    align-items: center;
}

/* End container proyect */

@media only screen and (min-width: 900px) and (max-width:1150px) {
    .experience {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 32px;
        justify-content: center;
    }

    .title-experience {
        text-align: center;
    }

}

@media only screen and (min-width: 600px) and (max-width:900px) {
    .experiences {
        width: 75%;
    }

    .text-experience {
        width: 100%;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 32px;
        justify-content: center;
    }

    .img-experience {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .experiences {
        width: 100%;
    }

    .experience {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 32px;
        justify-content: center;
    }

    .JUNMAT {
        width: 100%;
    }

    .text-experience {
        width: 100%;
    }

    .container-experiences {
        margin: 24px;
    }

    .img-experience {
        display: flex;
        justify-content: center;
    }

}