.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    height: 164px;
    width: 100%;
    background-color: var(--bgHeader-footer);
    border-top: 2px solid var(--border-color);
}

.container-section {
    width: 77%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.logo-copyRigth {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.container-social-network-footer {
    display: flex;
    padding: 8px;
    gap: 16px;
}

.hecho-por{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.container-social-network-footer a:hover img{
    display: flex;
    box-shadow: 2px 2px 30px var(--bgIcons-services);
    border-radius: 26px;
}