.container-header {
    position: fixed;
    z-index: 9999;
    display: flex;
    border-bottom: 2px solid var(--border-color);
    height: 88px;
    width: 100%;
    top: 0;
    background-color: var(--bgHeader-footer);
}

.container-header.open{
    height: 300px;
}

.container-logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-middle-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    background: rgb(163, 221, 252);
    background: linear-gradient(85deg, rgba(163, 221, 252, 0.8491771708683473) 23%, rgba(197, 196, 246, 0.8939950980392157) 52%, rgba(247, 159, 239, 0.8911939775910365) 86%);
}

.container-social-network {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    width: 15%;
}

.container-social-network a:hover img {
    display: flex;
    box-shadow: 2px 2px 30px var(--bgIcons-services);
    border-radius: 26px;
}

.container-nav {
    display: flex;
    width: 50%;
    padding: 8px;
    justify-content: space-evenly;

}

.nav-section {
    padding: 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-nav li a:hover{
    border-bottom: 2px solid var(--border-color);
}

@media only screen and (min-width: 1200px) and (max-width:1800px) {
    .container-nav {
        width: 70%;
    }    
}

