.second-button{
    width: 45%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--white) !important;
}

.second-button:hover{
    border: 1px solid var(--change-word-hover);
    background-color: var(--bgHeader-footer);
    font-weight: 600;
    color: var(--white) !important;
}