@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
  font-family: Manrope, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

p{
  margin: 0px;
  font-size: 22px;
}

h1,h2,h3,h4,h5,h6{
  margin: 0px;
}

a, a:link, a:visited{
  text-decoration: none;
  color: #383838;
  font-size: 22px;
  font-weight: 600;
}



h1{
  font-size: 55px;
  font-weight: 900;
}
h2{
  font-size: 45px;
  font-weight: 650;
}
h3{
  font-size: 40px;
  font-weight: 600;
}
h4{
  font-size: 32px;
  font-weight: 400;
}

h5{
  font-size: 22px;
  font-weight: 400;
}

/* h6{
  font-size: 24px;
  font-weight: 500;
} */

button{
  font-size: 18px;
}