@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


:root {
  font-family: Manrope, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  --black: rgb(0, 0, 0);
  --white: #ffffff;
  --color-anchor: #47474D;
  --bgPage: #242424;
  --parraf-color: #8D8C96;
  --change-word-hover: #7fffd4;
  --shadow-box: rgb(205, 255, 240);
  --text-color: #FFFFFF;
  --border-color: #7C7B84;
  --bgHeader-footer: #1C1C1F;
  --bgIcons-services: rgb(205, 249, 255);
  --hover-experience-proyect: rgb(205, 255, 240);

}


html {
  scroll-behavior: smooth;
  background-color: var(--bgPage);
}

html,
body {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
}

p {
  margin: 0px;
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: var(--color-anchor);
  font-size: 20px;
  font-weight: 400;
}


h1 {
  font-size: 55px;
  font-weight: 900;
}

h2 {
  font-size: 45px;
  font-weight: 650;
}

h3 {
  font-size: 40px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  font-weight: 400;
}

/* h6{
  font-size: 24px;
  font-weight: 500;
} */

section[id] {
  scroll-margin-top: 88px;
}

label {
  padding: 6px;
}

button {
  font-size: 18px;
}

input {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px;
  font-size: 24px;
  color: var(--white);
  outline: none;
}

input:focus {
  border: 1px solid var(--change-word-hover);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--shadow-box) inset;
  transition: background-color 5000s ease-in-out 0s;

}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line,
input:-webkit-autofill:hover::first-line,
textarea:-webkit-autofill:hover::first-line {
  color: var(--white);
  font-family: Manrope, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

textarea {
  background-color: transparent;
  outline: none;
  padding: 12px;
  font-size: 22px;
  color: #ffffff;
  resize: vertical;
}

textarea::placeholder {
  font-family: Manrope, sans-serif;
}

textarea:focus {
  border: 1px solid var(--change-word-hover);
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 45px;
    font-weight: 800;
  }

  h2 {
    font-size: 35px;
    font-weight: 550;
  }

  h3 {
    font-size: 30px;
    font-weight: 500;
  }

  h4 {
    font-size: 26px;
    font-weight: 400;
  }

  h5 {
    font-size: 18px;
    font-weight: 400;
  }

  p {
    font-size: 16px;
  }
}